$border-color: #000000;
$border-radius: 5px;
$primary-color: #4ecc78;
$disabled-color: #ccc;
$disabled-text-color: #656b67;
$error-color: red;

.dual-list-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  width: 100%;
  min-height: 150px;
  padding: 5px;
}

.dual-list-box__title {
  width: 100%;
  text-align: center;
  p {
    margin: 5px;
  }
}

.dual-list-box__error {
  color: $error-color;
  text-align: center;

  p {
    margin: 5px;
  }
}

.dual-list-box__content {
  display: flex;
  height: 180px;
  justify-content: space-between;
  gap: 0px;
  overflow-y: auto; // добавляем прокрутку по вертикали
}

.dual-list-box__available,
.dual-list-box__selected {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 5px;
  min-width: 150px;
  h4 {
    text-align: center;
    margin: 5px;
  }
}

.dual-list-box__search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
  input {
    padding: 5px;
    border: 1px solid $disabled-color;
    border-radius: $border-radius;
    width: 100%;
  }
}

.dual-list-box__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 5px;
}

.dual-list-box__controls button {
  width: 100%;
  padding: 5px 8px;
  border: 1px solid $disabled-color;
  border-radius: $border-radius;
  background-color: $primary-color;
  color: white;
  cursor: pointer;

  &:active {
    border: 1px solid $border-color;
  }
  &:disabled {
    background-color: $disabled-color;
    color: $disabled-text-color;
    cursor: not-allowed;
  }
}

.dual-list-box__list {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px; // ширина скроллбара
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: $border-radius;
  }
}

.dual-list-box__list-item {
  margin: 2px 0px;
  padding: 2px;
  border: 1px solid $disabled-color;
  border-radius: $border-radius;
  transition: background-color 0.3s ease, color 0.3s ease;
  &:hover {
    border: 1px solid $border-color;
  }
}

.dual-list-box__list-item--active {
  background-color: $primary-color;
  color: white;
  border: 1px solid $border-color;
  transition: background-color 0.3s ease, color 0.3s ease;
}
